/* DESKTOP FIRST */

/* BASE SETTINGS */

:root {
    --white: #fff;
    --translucent-white: #d7ccc0;
    --light: #f5f4f0;
    --accent: #fe8a02;
    --basic-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --main-font: OpenSans;
    --headers-font: Neucha;
    --regular-text: 16px;
    --lineheight: 1.6em;
    --headers-lineheight: 1.2em;
}

/* FONTS LOAD SECTION */

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf") format("truetype");
    font-weight: normal;
  }


.accent {
    color: var(--accent);
}

.dark-text {
    color: var(--dark);
}

.white-text {
    color: var(--white);
}

.brown-text {
    color: var(--brown);
}

.translucent-white {
    color: var(--translucent-white);
}

.translucent-dark {
    color: var(--translucent-dark);
}

.bg-light {
    background-color: var(--light);
}

.bg-basic-dark {
    background-color: var(--basic-dark);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-white {
    background-color: var(--white);
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pt17 {
    padding-top: 17px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: var(--regular-text);
    line-height: var(--lineheight);
    color: var(--dark);
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer,
.header {
  padding: 100px 0;
}

.container {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    z-index: 10;
}

ul, li {
    list-style: none;
}

a {
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
}

.header-h1 {
    font-size: 72px;
    font-family: var(--headers-font);
    line-height: var(--headers-lineheight);
    font-weight: normal;
}

.header-h2 {
    font-size: 60px;
    font-family: var(--headers-font);
    line-height: var(--headers-lineheight);
    font-weight: normal;
}

.header-h3 {
    font-size: 34px;
    font-family: var(--headers-font);
    line-height: var(--headers-lineheight);
    font-weight: normal;
}

.text {
    font-size: var(--regular-text);
    font-family: var(--headers-font), sans-serif;
    line-height: var(--lineheight);
    color: var(--dark);
}

.img {
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}



/* HEADER */

.header {
    padding-top: 100px;
    padding-bottom: 100px;
}

.background {
    position: relative;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.header-top {
    position: relative;
}

.header-image {
    position: absolute;
    height: 525px;
    top: -45px;
    right: -270px;
}

.header-bottom {
    gap: 30px;
    margin-top: 200px;
    font-family: var(--main-font), sans-serif;
}

.header-desc {
    width: 540px;
    line-height: var(--lineheight);
}

.btn {
    width: 148px;
    height: 49px;
    color: var(--white);
    background-color: var(--accent);
    padding: 12px 24px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.btn-header {
    margin-top: 34px;
    font-family: var(--main-font), sans-serif;
    font-weight: bold;
}

/* SECTION MEDIA */

.media {
    text-align: center;
}

.video-desc {
    margin-top: 31px;
    font-family: OpenSans, sans-serif;
}

.video-wrapper {
    margin-top: 28px;
}

.video {
    border: 0;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* NAVIGATION */

.nav {
    margin-top: -201px;
}

.nav-wrapper {
    margin-top: 100px;
}

.nav-item {
    display: inline-block;
    width: 350px;
    margin: 0 30px 18px 0;
}

.nav-item:nth-child(3n) {
    margin-right: 0;
}

.nav-header {
    font-size: 52px;
    font-family: var(--headers-font);
    line-height: var(--headers-lineheight);
    font-weight: normal;
    color: var(--white);
}

.nav-item-wrapper {
    padding: 24px;
}

.nav-item-num {
    font-family: var(--headers-font), sans-serif;
    line-height: 1;
    font-size: 64px;
    margin-top: 10px;
}

.nav-item-title {
    margin-top: 40px;
    font-family: var(--headers-font);
}

.nav-item-desc {
    margin-top: 14px;
    font-weight: bold;
}

/* SECTION */

.section {
    font-family: var(--headers-font), sans-serif;
    gap: 30px;
}

.section-header {
    font-weight: 400;
}

.section-span {
    font-size: 24px;
    font-family: var(--headers-font), sans-serif;
}

.section-text {
    padding-top: 30px;
    font-size: 34px;
    font-family: var(--headers-font);
    font-weight: normal;
    line-height: var(--lineheight);
}

.section-footer {
    padding-top: 100px;
}

.section-footer-header {
    padding: 5px 0 5px 10px;
    font-family: var(--main-font), sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.section-footer-text {
    font-family: var(--main-font), sans-serif;
    line-height: var(--lineheight);
    flex-wrap: nowrap;
    gap: 30px;
}

.section-footer-text p {
    width: 50%;
}

/* FOOTER */

.footer-wrap {
    justify-content: space-between;
    align-items: center;
  }

.footer-offer {
    padding: 55px 0 55px 55px;
    font-family: var(--headers-font), sans-serif;
    font-size: 34px;
    line-height: var(--headers-lineheight);
}

.footer-form {
    padding-right: 55px;
}

.footer-label {
    display: block;
}

.btn-send {
    width: 70px;
    height: 50px;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
}

.btn-send::before {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("../images/send.svg");
    background-repeat: no-repeat;
    content: "";
}

.input-btn {
    padding-top: 9px;
    align-items: center;
}

.input {
    box-sizing: border-box;
    width: 415px;
    height: 50px;
    padding: 15px;
    border: 1px solid #e3e3e3;
    outline: none;
}

.input::placeholder {
    color: var(--basic-dark);
    font-size: 13.1px;
    opacity: 0.2;
}

.footer-span {
    font-family: var(--main-font), sans-serif;
    font-size: 12px;
}

.footer-contacts {
    min-height: 104px;
    margin-top: 76px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
